@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    /* Definindo a fonte principal */
    --font-sans: 'Work Sans', sans-serif;
  }

  /* Aplicando a fonte no body */
  body {
    font-family: var(--font-sans);
  }
}
